/*
JavaScript Image Slider 1.0
(C)1999-2006 Usingit.com, All rights reserved!
http://www.usingit.com/products/webtoolkit
http://www.usingit.com/support
*/
.slidercontainer{
BORDER:#FFFF00 0px none;
}
.sliderimages{
BORDER:#DBEAF5 4px none;
}