



/*section1*/


h8

{

position: absolute;
top: 10%;
left: 25%;
transform: translate(-50%,-50%);
margin: 0;
padding: 0 20px;
font-family: Georgia, 'Times New Roman', Times, serif;



}





  /*section1 end*/